.weather-today {
  .temperature {
    margin-bottom: 12px;
    @include flexbox();

    &__value {
      font-size: 10rem;
      font-weight: $font-weight-thin;
      text-align: center;
      line-height: 7.45rem;
      @include flex(0, 0, 73%);
    }

    &__units {
      @include flexbox();
      @include flex(1, 1, 27%);
      @include flex-direction(column);

      > * {
        cursor: pointer;
        font-size: 2.4rem;
        font-weight: $font-weight-thin;
        width: 100%;
        @include flexbox();
        @include flex(0, 0, 50%);
        @include align-items(center);
        @include justify-content(center);

        sup {
          font-size: 1.4rem;
          position: relative;
          top: -8px;
          margin-left: 4px;
        }
      }
    }
  }
}
