.weather-today {
  .temperature {
    margin-bottom: 12px;
    display: flex;

    &__value {
      font-size: 10rem;
      font-weight: $font-weight-thin;
      text-align: center;
      line-height: 7.45rem;
      flex: 0 0 73%;
    }

    &__units {
      display: flex;
      flex: 1 1 27%;
      flex-direction: column;

      > * {
        cursor: pointer;
        font-size: 2.4rem;
        font-weight: $font-weight-thin;
        width: 100%;
        display: flex;
        flex: 0 0 50%;
        align-items: center;
        justify-content: center;

        sup {
          font-size: 1.4rem;
          position: relative;
          top: -8px;
          margin-left: 4px;
        }
      }
    }
  }
}
